&.hero {
  form {
    display: grid;
    grid-template-rows: 160px auto auto;

    header .header-details {
      display: grid;
      grid-template-columns: 160px auto;
      grid-template-rows: auto auto auto;
      height: 160px;

      .profile {
        grid-row: 1/4;
        height: 100%;
      }
    }

    .sheet-header {
      .attributes {
        .initiative {
          .attribute-footer {
            input {
              width: 32px;
            }
          }
        }
      }
    }
  }
}
