&.hero form {
  display: grid;
  grid-template-rows: 160px auto auto;

  header .header-details {
    display: grid;
    grid-template-columns: 160px 300px;
    grid-template-rows: auto auto auto;
    height: 160px;

    .profile {
      grid-row: 1/4;
      height: 100%;
    }
  }
}
