<form id="ability-use-form">
  <p>{{title}}</p>
  <p class="notes">{{note}}</p>
  {{#each errors}}
    <p class="notification error">{{localize this}}</p>
  {{/each}}
  {{#if createTemplate}}
    <div class="form-group">
      <label class="checkbox">
        <input type="checkbox" name="placeTemplate" checked />
        {{ localize "CarRoy.PlaceTemplate" }}
      </label>
    </div>
  {{/if}}
  {{#if canSummon}}
    <div class="form-fields">
      <label>{{localize 'CarRoy.SummonEntity'}}</label>
      <select name="summonEntity">
        {{#select summonEntity}}
          {{#each item.data.summons as |summon|}}
            <option value="{{summon}}">{{summon}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  {{/if}}
</form>