<form class="{{cssClass}} hero-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <section class="profile">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100" height="100" />
      </section>
      <div class="hero-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Hero Name" /></div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'CarRoy.Attributes'}}</a>
    <a class="item" data-tab="traits">{{localize 'CarRoy.Traits'}}</a>
    <a class="item" data-tab="inventory">{{localize 'CarRoy.Inventory'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes-container" data-group="primary" data-tab="attributes">
      {{!-- Ability Scores --}}
      <section class="abilities">
        {{#each data.abilities as |ability name|}}
        <div class="ability"><label class="ability-label">{{firstUpper (localize (prepAbilityLocaleAbbr name))}}</label>{{ability.value}}</div>
        {{/each}}
      </section>
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits-container" data-group="primary" data-tab="traits"></div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory-container" data-group="primary" data-tab="inventory"></div>
  </section>
</form>
