<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

    <section class="header-details flexrow">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CarRoy.HeroName'}}" /></h1>

      {{!-- Character Summmary --}}
      <ul class="summary flexrow">
        {{#if data.details.race}}
        <li>
          <input
            class="read-only"
            type="text"
            name="data.details.race.name"
            value="{{data.details.race.name}}"
            placeholder="{{localize 'CarRoy.Race'}}"
            readonly
          />
        </li>
        {{/if}}
      </ul>

      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute health">
          <h4 class="attribute-name box-title">{{localize 'CarRoy.HitPoints'}}</h4>
          <div class="attribute-value multiple">
            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number" />
            <span class="sep"> / </span>
            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number" />
          </div>
          <footer class="attribute-footer">
            <!--Temp HP-->
          </footer>
        </li>

        <li class="attribute">
          <h4 class="attribute-name box-title">{{localize 'CarRoy.ArmorClass'}}</h4>
          <div class="attribute-value">
            <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" placeholder="10" />
          </div>
          <footer class="attribute-footer">
            <!--Spell Save DC-->
          </footer>
        </li>

        <li class="attribute">
          <h4 class="attribute-name box-title">{{localize 'CarRoy.Movement'}}</h4>
          <div class="attribute-value">
            <span>{{data.attributes.movement.value}}</span>
          </div>
          <footer class="attribute-footer">
            <!--Movement Bonus -->
          </footer>
        </li>

        <li class="attribute initiative">
          <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{localize 'CarRoy.Initiative'}}</h4>
          <div class="attribute-value">
            <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
          </div>
          <footer class="attribute-footer">
            <span>{{localize 'CarRoy.Modifier'}}</span>
            <input
              name="data.attributes.init.value"
              type="text"
              data-dtype="Number"
              placeholder="0"
              value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
            />
          </footer>
        </li>
      </ul>
    </section>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'CarRoy.Attributes'}}</a>
    <a class="item" data-tab="inventory">{{localize 'CarRoy.Inventory'}}</a>
    <a class="item" data-tab="traits">{{localize 'CarRoy.Traits'}}</a>
    <a class="item" data-tab="spellbook">{{localize 'CarRoy.Spellbook'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
      {{!-- Ability Scores --}}
      <section class="abilities">
        <ul class="ability-scores flexcol">
          {{#each data.abilities as |ability name|}}
          <li class="ability" data-ability="{{name}}">
            <h4 class="ability-name box-title rollable">{{firstUpper (localize (prepAbilityLocale name))}}</h4>
            <input class="ability-score" name="data.abilities.{{name}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10" />
            <div class="ability-modifiers flexrow">
              <span class="ability-mod" title="{{localize 'CarRoy.Modifier'}}">{{modCalc ability.value}}</span>
            </div>
          </li>
          <!--div class="ability"><label class="ability-label">{{firstUpper (localize (prepAbilityLocaleAbbr name))}}</label>{{ability.value}}</div-->
          {{/each}}
        </ul>
      </section>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/carrot-royale/templates/actor/parts/actor-inventory.html" sections=inventory}}
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits flexcol" data-group="primary" data-tab="traits">
      {{> "systems/carrot-royale/templates/actor/parts/actor-features.html" sections=features}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">{{> "systems/carrot-royale/templates/actor/parts/actor-spellbook.html"}}</div>
  </section>
</form>
