<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CarRoy.ClassName'}}" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>
      <ul class="summary flexrow">
        <li>{{itemType}}</li>
        {{#if data.spellcaster}}
        <li>{{localize 'CarRoy.Spellcaster'}}</li>
        {{else}}
        <li>{{localize 'CarRoy.Melee'}}</li>
        {{/if}}
      </ul>
    </section>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'CarRoy.Description'}}</a>
    <a class="item" data-tab="details">{{localize 'CarRoy.Details'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <div class="sheet-body">
    <div class="tab description flexrow" data-group="primary" data-tab="description">
      {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      {{!-- Class Levels --}}
      <div class="form-group">
        <label>{{localize 'CarRoy.ClassLevels'}}</label>
        <div class="form-fields">
          <input type="text" name="data.levels" value="{{data.levels}}" data-dtype="Number" />
        </div>
      </div>

      {{!-- Class Properties --}}
      <div class="form-group stacked">
        <label>{{localize 'CarRoy.ClassProperties'}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.spellcaster" {{checked data.spellcaster}} />{{localize 'CarRoy.Spellcaster'}}</label>
      </div>

      {{!-- Class Bonuses --}}
      <h4 class="bonus-header">
        {{localize 'CarRoy.ClassBonuses'}}
        <a class="bonus-control add-bonus"><i class="fas fa-plus"></i></a>
      </h4>
      <ol class="bonus-parts form-group">
        {{#each data.bonus.stats as |part i|}}
        <li class="bonus-part flexrow" data-bonus-part="{{i}}">
          <input type="text" name="data.bonus.stats.{{i}}.0" value="{{lookup this "0"}}">
          <select name="data.bonus.stats.{{i}}.1">
            {{#select (lookup this "1")}}
            <option value="">{{localize 'CarRoy.None'}}</option>
            {{#each ../config.bonusStats as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}} {{/select}}
          </select>
          <a class="bonus-control delete-bonus"><i class="fas fa-minus"></i></a>
        </li>
        {{/each}}
      </ol>

      {{!-- Class Choices --}}
      <h4 class="choice-header">
        {{localize 'CarRoy.ClassChoices'}}
        <a class="choice-control add-choice-group"><i class="fas fa-plus"></i></a>
      </h4>
      <ol class="choice-parts form-group">
        {{#each data.bonus.choices as |choices i|}}
        <li class="choice-group bonus-part flexrow" data-choice-group="{{i}}">
          <label>
            {{localize 'CarRoy.AddChoice'}}
            <a class="choice-control add-choice"><i class="fas fa-plus"></i></a>
          </label>
          <label>
            {{localize 'CarRoy.DeleteChoiceGroup'}}
            <a class="choice-control delete-choice-group"><i class="fas fa-minus"></i></a>
          </label>
          <ol class="choice-group-parts form-group">
            {{#each choices as |choice j|}}
            <li class="choice-part flexrow" data-choice-part="{{j}}">
              <input type="text" name="data.bonus.choices.{{i}}.{{j}}.0" value="{{lookup this "0"}}" />
              <select name="data.bonus.choices.{{i}}.{{j}}.1">
                {{#select (lookup this "1")}}
                <option value="">{{localize 'CarRoy.None'}}</option>
                {{#each ../../config.bonusStats as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
              </select>
              <a class="choice-control delete-choice"><i class="fas fa-minus"></i></a>
            </li>
            {{/each}}
          </ol>
          {{/each}}
        </li>
      </ol>
    </div>
  </div>
</form>
