<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CarRoy.EnchantmentName'}}" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>
      <ul class="summary flexrow">
        <li>{{itemType}}</li>
      </ul>
    </section>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'CarRoy.Description'}}</a>
    <a class="item" data-tab="details">{{localize 'CarRoy.Details'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <div class="sheet-body">
    {{> "systems/carroy/templates/item/parts/item-description.html"}}

    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'CarRoy.EnchantmentDetails'}}</h3>

      {{!-- Enchantment Bonus --}}
      <div class="form-group">
        <label>{{localize 'CarRoy.Bonus'}}</label>
        <div class="form-fields">
          <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number" />
        </div>
      </div>

      <!--{{!-- Armor Type --}}
      <div class="form-group">
        <label>{{localize 'CarRoy.ArmorType'}}</label>
        <select name="data.armorType">
          {{#select data.armorType}}
          <option value=""></option>
          {{#each config.armorTypes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>

      {{!-- Weapon Properties--}}
      <div class="form-group stacked">
        <label>{{localize 'CarRoy.EquipmentStatus'}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.equipped" {{checked data.equipped}} />{{localize 'CarRoy.Equipped'}} </label>
      </div>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize 'CarRoy.ArmorClass'}}</label>
        <div class="form-fields">
          <input type="text" name="data.ac" value="{{data.ac}}" data-dtype="Number" />
        </div>
      </div>

      <!-- Shield Bash -->
    </div>
  </div>
</form>
