<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CarRoy.SpellName'}}" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>
      <ul class="summary flexrow">
        <li>{{itemType}}</li>
      </ul>
    </section>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'CarRoy.Description'}}</a>
    <a class="item" data-tab="details">{{localize 'CarRoy.Details'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <div class="sheet-body">
    {{> "systems/carroy/templates/item/parts/item-description.html"}}

    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'CarRoy.SpellDetails'}}</h3>

      {{!-- Spell Type --}}
      <div class="form-group stacked">
        <label>{{localize 'CarRoy.SpellProperties'}}</label>
        <label class="checkbox"> <input type="checkbox" name="data.atWill" {{checked data.atWill}} />{{localize 'CarRoy.AtWill'}}</label>
      </div>

      {{!-- Spell Casting --}}
      <h3 class="form-header">{{localize 'CarRoy.SpellCasting'}}</h3>
      {{> 'systems/carroy/templates/item/parts/item-activation.html'}}

      {{!-- Spell Effects --}}
      <h3 class="form-header">{{localize 'CarRoy.SpellEffects'}}</h3>

      {{> 'systems/carroy/templates/item/parts/item-action.html'}}
    </div>
</form>