.carrot-royale {
  .window-content {
    font-size: 13px;
    color: #191813;
  }

  @import 'utils/input';
  @import 'forms/form-group';

  .form-header {
    margin: 0 0 0.25em 0;
    padding: 2px 0;
    border-top: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-size: 20px;
    font-weight: 700;
  }

  .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
  }

  @import 'sheets/sheets';

  /* ----------------------------------------- */
  /* Trait Selector
  /* ----------------------------------------- */
  #trait-selector .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #trait-selector input[type='text'] {
    height: 24px;
    margin: 2px;
  }

  #actor-flags .window-content {
    overflow-y: hidden;
  }
  #actor-flags form {
    height: 100%;
  }
  #actor-flags .form-body {
    height: calc(100% - 40px);
    padding-right: 8px;
    margin-bottom: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  @import 'chat/card';
}

@import 'dice/roll';
