<div class="tab description flexrow" data-group="primary" data-tab="description">
  <div class="item-properties">
    {{#if hasCost}}
      <div class="form-group">
        <label>{{localize 'CarRoy.Price'}}</label>
        <input type="text" name="data.cost" value="{{item.data.cost}}" data-dtype="Number" />
      </div>
    {{/if}}

    <ol class="properties-list">
      {{#each itemProperties}}
        <li>{{this}}</li>
      {{/each}}
      {{#if (or (eq item.type 'armor') (eq item.type 'weapon'))}}
        <li>
          <label>{{localize 'ITEM.TypeEnchantment'}}</label>
          <select name="data.enchantment.value">
            {{#select data.enchantment.value}}
              <option value="0"></option>
              <option value="1">+1</option>
              <option value="2">+2</option>
            {{/select}}
          </select>
      {{/if}}
      </li>
    </ol>
  </div>

  {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>