<div class="tab description flexrow" data-group="primary" data-tab="description">
  <div class="item-properties">
    {{#if hasCost}}
      <div class="form-group">
        <label>{{localize 'CarRoy.Price'}}</label>
        <input type="text" name="data.cost" value="{{item.data.cost}}" data-dtype="Number" />
      </div>
    {{/if}}

    <ol class="properties-list">
      {{#each itemProperties}}
        <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>

  {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>